In [17]:
import pandas as pd
import numpy as np

# Data Loading/Reading

In [18]:
df = pd.read_csv("heart.csv")
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

# Data Exploration

In [19]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [20]:
print(f"Number of Rows: {df.shape[0]} \nNumber of Columns: {df.shape[1]}")

Number of Rows: 1025
Number of Columns: 14

In [21]:
df.dtypes

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal          int64
target        int64
dtype: object

In [23]:
df.head(2)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0

In [12]:
df.tail()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

In [13]:
df.tail(2)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

In [14]:
df.describe()   # Get summary statistics

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,1025.000000,1025.000000,1025.000000,1025.000000,1025.00000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000
mean,54.434146,0.695610,0.942439,131.611707,246.00000,0.149268,0.529756,149.114146,0.336585,1.071512,1.385366,0.754146,2.323902,0.513171
std,9.072290,0.460373,1.029641,17.516718,51.59251,0.356527,0.527878,23.005724,0.472772,1.175053,0.617755,1.030798,0.620660,0.500070
min,29.000000,0.000000,0.000000,94.000000,126.00000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,48.000000,0.000000,0.000000,120.000000,211.00000,0.000000,0.000000,132.000000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,56.000000,1.000000,1.000000,130.000000,240.00000,0.000000,1.000000,152.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,275.00000,0.000000,1.000000,166.000000,1.000000,1.800000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.00000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1025 entries, 0 to 1024
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1025 non-null   int64
 1   sex       1025 non-null   int64
 2   cp        1025 non-null   int64
 3   trestbps  1025 non-null   int64
 4   chol      1025 non-null   int64
 5   fbs       1025 non-null   int64
 6   restecg   1025 non-null   int64
 7   thalach   1025 non-null   int64
 8   exang     1025 non-null   int64
 9   oldpeak   1025 non-null   float64
 10  slope     1025 non-null   int64
 11  ca        1025 non-null   int64
 12  thal      1025 non-null   int64
 13  target    1025 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 112.2 KB

In [16]:
print("-- Attributes in Data --")
for cols in df.columns:
    print(cols)

-- Attributes in Data --
age
sex
cp
trestbps
chol
fbs
restecg
thalach
exang
oldpeak
slope
ca
thal
target

In [22]:
print("-- Number of instances in Data --")
print(df.count())

-- Number of instances in Data --
age         1025
sex         1025
cp          1025
trestbps    1025
chol        1025
fbs         1025
restecg     1025
thalach     1025
exang       1025
oldpeak     1025
slope       1025
ca          1025
thal        1025
target      1025
dtype: int64

In [24]:
df['thalach'].unique()

array([168, 155, 125, 161, 106, 122, 140, 145, 144, 116, 136, 192, 156,
       142, 109, 162, 165, 148, 172, 173, 146, 179, 152, 117, 115, 112,
       163, 147, 182, 105, 150, 151, 169, 166, 178, 132, 160, 123, 139,
       111, 180, 164, 202, 157, 159, 170, 138, 175, 158, 126, 143, 141,
       167,  95, 190, 118, 103, 181, 108, 177, 134, 120, 171, 149, 154,
       153,  88, 174, 114, 195, 133,  96, 124, 131, 185, 194, 128, 127,
       186, 184, 188, 130,  71, 137,  99, 121, 187,  97,  90, 129, 113],
      dtype=int64)

In [25]:
df.nunique()

age          41
sex           2
cp            4
trestbps     49
chol        152
fbs           2
restecg       3
thalach      91
exang         2
oldpeak      40
slope         3
ca            5
thal          4
target        2
dtype: int64

In [26]:
print("-- Number of Null Values in Data --")
print(df.isnull().sum())

-- Number of Null Values in Data --
age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

# Data Preprocessing

In [31]:
df = df.drop('sex', axis=1)

In [32]:
df.head(2)

,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,0,125,212,0,1,168,0,1.0,2,2,3,0
1,0,140,203,1,0,155,1,3.1,0,0,3,0

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1025 entries, 0 to 1024
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   cp        1025 non-null   int64
 1   trestbps  1025 non-null   int64
 2   chol      1025 non-null   int64
 3   fbs       1025 non-null   int64
 4   restecg   1025 non-null   int64
 5   thalach   1025 non-null   int64
 6   exang     1025 non-null   int64
 7   oldpeak   1025 non-null   float64
 8   slope     1025 non-null   int64
 9   ca        1025 non-null   int64
 10  thal      1025 non-null   int64
 11  target    1025 non-null   int64
dtypes: float64(1), int64(11)
memory usage: 96.2 KB

In [34]:
df['chol'].mode()[0]

204

In [35]:
def fillNaObject(cols):
    for i in cols:
        df[i] = df[i].fillna(df[i].mode()[0])

columns = ['trestbps','chol','fbs','restecg']
fillNaObject(columns)

In [47]:
def fillNaInt(cols):
    for i in cols:
        df[i] = df[i].fillna(df[i].mode()[0])      

columns = ['target','thal','exang', 'oldpeak', 'slope', 'ca']
fillNaInt(columns)

In [46]:
def fillNaFloat(cols):
    for i in cols:
        df[i] = df[i].fillna(df[i].mean())

columns = ['oldpeak','ca','thalach','trestbps', 'exang', 'target']
fillNaFloat(columns)

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1025 entries, 0 to 1024
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   cp        1025 non-null   int64
 1   trestbps  1025 non-null   int64
 2   chol      1025 non-null   int64
 3   fbs       1025 non-null   int64
 4   restecg   1025 non-null   int64
 5   thalach   1025 non-null   int64
 6   exang     1025 non-null   int64
 7   oldpeak   1025 non-null   int64
 8   slope     1025 non-null   int64
 9   ca        1025 non-null   int64
 10  thal      1025 non-null   int64
 11  target    1025 non-null   int64
dtypes: int64(12)
memory usage: 96.2 KB

In [49]:
def convertFloattoInt(cols):
    for i in cols:
        df[i] = df[i].astype('int64')

columns = ['target','ca','trestbps','thalach','restecg','exang','oldpeak','slope','ca','thal']
convertFloattoInt(columns)

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1025 entries, 0 to 1024
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   cp        1025 non-null   int64
 1   trestbps  1025 non-null   int64
 2   chol      1025 non-null   int64
 3   fbs       1025 non-null   int64
 4   restecg   1025 non-null   int64
 5   thalach   1025 non-null   int64
 6   exang     1025 non-null   int64
 7   oldpeak   1025 non-null   int64
 8   slope     1025 non-null   int64
 9   ca        1025 non-null   int64
 10  thal      1025 non-null   int64
 11  target    1025 non-null   int64
dtypes: int64(12)
memory usage: 96.2 KB

In [51]:
df['trestbps'].nunique()

49

In [52]:
df['chol'].nunique()

152

In [53]:
df['oldpeak'].nunique()

7

In [54]:
df['thal'].nunique()

4

In [55]:
df.drop('cp', axis=1, inplace=True)

In [56]:
df.head(3)

,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,125,212,0,1,168,0,1,2,2,3,0
1,140,203,1,0,155,1,3,0,0,3,0
2,145,174,0,1,125,1,2,0,0,3,0

In [57]:
df.drop('exang', axis=1, inplace=True)

In [58]:
df.head(2)

   trestbps  chol  fbs  restecg  thalach  oldpeak  slope  ca  thal  target
0       125   212    0        1      168        1      2   2     3       0
1       140   203    1        0      155        3      0   0     3       0

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1025 entries, 0 to 1024
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   trestbps  1025 non-null   int64
 1   chol      1025 non-null   int64
 2   fbs       1025 non-null   int64
 3   restecg   1025 non-null   int64
 4   thalach   1025 non-null   int64
 5   oldpeak   1025 non-null   int64
 6   slope     1025 non-null   int64
 7   ca        1025 non-null   int64
 8   thal      1025 non-null   int64
 9   target    1025 non-null   int64
dtypes: int64(10)
memory usage: 80.2 KB

In [60]:
df_encoded = df.copy()

In [61]:
from sklearn.preprocessing import LabelEncoder

In [64]:
def convertObjtoInt(cols):
    for i in cols:
        datalabelEncoder = LabelEncoder()
        df_encoded[i] = datalabelEncoder.fit_transform(df[i])

columns = ['slope','thal']
convertObjtoInt(columns)

In [50]:
df_encoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1025 entries, 0 to 1024
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1025 non-null   int64
 1   sex       1025 non-null   int64
 2   trestbps  1025 non-null   int64
 3   thalach   1025 non-null   int64
 4   oldpeak   1025 non-null   int64
 5   slope     1025 non-null   int64
 6   thal      1025 non-null   int64
dtypes: int64(7)
memory usage: 56.2 KB

In [65]:
df.head(2)

   trestbps  chol  fbs  restecg  thalach  oldpeak  slope  ca  thal  target
0       125   212    0        1      168        1      2   2     3       0
1       140   203    1        0      155        3      0   0     3       0

In [51]:
df_encoded.to_csv(r'encoded-data.csv', index = False, header = True)

# Train-Test Split

In [68]:
from sklearn.model_selection import train_test_split

In [69]:
trainData, testData = train_test_split(df_encoded, test_size=0.2, shuffle=False)

In [70]:
print(trainData.shape, testData.shape)

(820, 10) (205, 10)

In [71]:
trainData.head(2)

   trestbps  chol  fbs  restecg  thalach  oldpeak  slope  ca  thal  target
0       125   212    0        1      168        1      2   2     3       0
1       140   203    1        0      155        3      0   0     3       0

In [72]:
testData.head(2)

     trestbps  chol  fbs  restecg  thalach  oldpeak  slope  ca  thal  target
820       140   207    0        0      138        1      2   1     3       0
821       140   268    0        0      160        3      0   2     2       0

In [74]:
trainData.iloc[:,1:]

     chol  fbs  restecg  thalach  oldpeak  slope  ca  thal  target
0     212    0        1      168        1      2   2     3       0
1     203    1        0      155        3      0   0     3       0
2     174    0        1      125        2      0   0     3       0
3     203    0        1      161        0      2   1     3       0
4     294    1        1      106        1      1   3     2       0
..    ...  ...      ...      ...      ...    ...  ..   ...     ...
815   240    0        0      154        0      1   0     3       1
816   245    0        0      143        0      2   0     2       1
817   260    0        0      185        0      2   0     2       1
818   244    0        0      178        0      2   2     2       1
819   225    1        0      146        2      1   2     1       0

[820 rows x 9 columns]

In [111]:
train_x = trainData.iloc[:,0:]
train_x.head(2)

   trestbps  chol  fbs  restecg  thalach  oldpeak  slope  ca  thal  target
0       125   212    0        1      168        1      2   2     3       0
1       140   203    1        0      155        3      0   0     3       0

In [151]:
train_y = trainData.iloc[:, 4]
train_y.head(2)

0    168
1    155
Name: thalach, dtype: int64

In [143]:
test_x = testData.iloc[:,0:]
test_x.head(2)

     trestbps  chol  fbs  restecg  thalach  oldpeak  slope  ca  thal  target
820       140   207    0        0      138        1      2   1     3       0
821       140   268    0        0      160        3      0   2     2       0

In [150]:
test_y = testData.iloc[:, 4]
test_y.head(2)

820    138
821    160
Name: thalach, dtype: int64

# Model Training using SVC

In [146]:
from sklearn.svm import SVC

In [147]:
print("-- Training using SVC on Training Data --")
print("-- Parameters & Values: ", end='')

model_svc = SVC()
model_svc.fit(train_x, train_y)

print(model_svc)

-- Training using SVC on Training Data --
-- Parameters & Values: SVC()

In [136]:
import pickle
pickle.dump(model_svc, open('model_svc.pkl', 'wb'))

In [137]:
model = pickle.load(open('model_svc.pkl', 'rb'))

In [138]:
model_predictions = model.predict(test_x)

In [139]:
testdata_predict = testData.copy(deep=True)
pd.options.mode.chained_assignment = None

testdata_predict['Prediction'] = model_predictions

In [140]:
from sklearn.metrics import accuracy_score

In [152]:
model_accuracy_score = accuracy_score(testdata_predict['thalach'], testdata_predict['Prediction'])

print("-- Model Accuracy Score: ", end='')
print(round(model_accuracy_score,3))

-- Model Accuracy Score: 0.02